# dotfile management with git see: https://news.ycombinator.com/item?id=11071754
alias config='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Shortcuts
alias g="git"
alias h="history"
alias j="jobs"

# always show human readable sizes
alias du="du -h"
alias df="df -h"

# List all files colorized in short format
alias l="ls -1F"

# List all files colorized in long format
alias ll="ls -lh"

# List all files colorized in long format, including dot files
alias la="ls -laFh"

# List only directories
alias lsd="ls -lF | grep '^d'"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# URL-encode strings
if [ -n $(command -v python) ]; then
	alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'
fi

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# find all unique extensions in a folder
alias uniqext="find . -type f | sed -En 's|.*/[^/]+\.([^/.]+)$|\1|p' | sort -u"

# find all files with the supplied extension
alias findbyext='function _findbyext(){ find . -type f -iname "*.$1"; };_findbyext'

# One of @janmoesen’s ProTip™s
if [ -n $(command -v lwp-request) ]; then
	for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
		alias "$method"="lwp-request -m '$method'"
	done
fi
